<center><p> Cliquez sur une lettre :  
	{{#each repertoirePilotes}}
		<a href="/repertoirePilote/{{this.Initial}}"> {{this.Initial}}</a>
	{{/each}}
</p></center>

{{#if detailPilote}}
	<table>
		<tr>
			<td rowspan="4"><img src="/image/pilote/{{detailPilote.PHOADRESSE}}" id="imgPilote" alt="{{detailPilote.PHOADRESSE}}"/></td>
			<td><b> Nom : </b>{{detailPilote.PILNOM}} {{detailPilote.PILPRENOM}}</td>
		</tr>
		<tr>
			<td><b> Date de naissance : </b>{{detailPilote.PILDATENAIS}}</td>
			<td><b>Poids : </b>{{detailPilote.PILPOIDS}} Kg</td>
		</tr>
		<tr>
			<td><b>Nationalité : </b>{{detailPilote.PAYNAT}}</td>
			<td><b>Taille : </b>{{detailPilote.PILTAILLE}}.000 Cm</td>
		</tr>
		<tr>
			<td><b> Ecurie : </b>
				{{#if ListEcurie}}
						{{ListEcurie.ECUNOM}}
				{{else}}
						Pas d'écurie cette année
				{{/if}}</td>
		</tr>
	</table>
	<p>
		{{#if ListSponsor}}
			<b> Principaux sponsors :</b><br/>
			{{#each ListSponsor}}
				 
				<b>{{this.SPONOM}}</b>({{this.SPOSECTACTIVITE}})<br/>
			{{/each}}
		{{/if}}
	</p>
	<p><b> Qui suis je ? </b>{{detailPilote.PILTEXTE}}</p>
	<p>{{#each ListPhoto}}
			<img src="/image/pilote/{{this.PHOADRESSE}}" alt="{{this.PHOADRESSE}}" id="photoPilote"/>
		{{/each}}
	</p>
{{/if}}