<table class="tabpayscir">
	 {{#each listeCircuit}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" id="drapeauPays" alt="drapeau du pays" />
      <a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
